@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
}

#clock {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 300px;
  margin-left: -300px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Roberto Mono', monospace;
  margin: 0;
  font-size: 120px;
}
