@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clock {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Roberto Mono', monospace;
  margin: 0;
  font-size: 124px;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  font-size: 35px;
}

.burger {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger:hover {
  cursor: pointer;
}

.menuList {
  margin-right: 10px;
  text-align: right;
}

.menuHead {
  cursor: default;
  font-size: 20px;
}

.menuItem:hover {
  cursor: pointer;
  font-weight: bold;
}

.menuItem.selected:hover {
  font-weight: normal;
}

.menuItem {
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #clock {
    width: 100%;
  }

  h1 {
    font-size: 5em;
  }
}

@media only screen and (max-width: 425px) {

  h1 {
    font-size: 4em;
  }
}